# IntelliJ/PyCharm project files
.idea
project.iml

# RStudio files
.Rapp.history
.RData
.Rhistory

# Runnable files
out

# Output datasets
datasets/3-24.10.2017
datasets/4-21.11.2017
datasets/is_test

# Experiments folder
experiments/

# Outputs folder
outputs/

# Misc
.DS_Store
project/parameters/concrete.txt
project/parameters/keijzer-1.txt
project/parameters/keijzer-8.txt
project/parameters/ksinc.txt
project/META-INF/
datasets/1-05.06.2017/
datasets/2-08.06.2017/
